.container{
    float: left;
    margin: 10px;
}
.right{
    float: left;
    margin: 10px;
    color: grey;
    font-size: 15px;
}
.radio {
    width: 20px;
    position: relative;
}
.radio label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px white, 1px 3px 5px rgba(0,0,0,0.5);
    border: 1px solid black;
}
.radio label:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    border: 6px solid greenyellow;
    border-radius: 50px;
    opacity: 0;
}
.radio label:hover::after {
    opacity: 0.3;
}
.radio input[type=radio] {
    visibility: hidden;
}
.radio input[type=radio]:checked + label:after {
    opacity: 1;
}




